body {
    font-family: 'Segoe UI Emoji', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
}

.header {
    background-color: #ffc107;
    color: #000;
    padding: 10px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 15px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

.section-title {
    font-size: 1.1em;
    color: #000080;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 20px;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

label {
    display: inline-block;
    width: 130px;
    margin-right: 10px;
    font-size: 0.9em;
    font-weight: normal;
}

input[type="text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.gst-type {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.gst-type label {
    width: auto;
    margin-right: 5px;
    font-size: 0.9em;
    font-weight: normal;
}

.gst-type input[type="checkbox"] {
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.save-button {
    background-color: #1e88e5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.save-button:hover {
    background-color: #1565c0;
}

.save-icon {
    margin-right: 5px;
    font-size: 1.2em;
}